# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Generated Output
output/

# Local Environment Files
.env

# OS Files
.DS_Store
Thumbs.db

# pipeline can create cleaned data
data/cleaned/